{% extends "socialnetwork3/socialnetworkbase.html" %}

{% block updatestreamjs %}
<script type="text/javascript" src="/static/socialnetwork3/updatestream.js"></script>
{% endblock %}
{% block page-title %}
SocialNet
{% endblock %}

{% block post-new %}
<form action="{% url 'create' %}" method="post">
	<div class="column">
		<h4>New Post:<br><br></h4>
		<div class="row" id="new-post">
			<input type="text" name="input-content" id="input-content">
		</div>
		<div class="row">
			<input type="submit" value="Post" id="new-post-submit">
		</div>
	</div>
	{% csrf_token %}
</form> 
{% endblock %}